﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] </title>
        <base href="/" />
        @*<link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />*@
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
        <script src="https://www.paypalobjects.com/js/external/apdg.js" type="text/javascript"></script>

        <!-- Bootstrap core CSS -->
        @*<link href="~/css/bootstrap.min.css" rel="stylesheet">*@

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

        <!-- Material Design Bootstrap -->
        @*<link href="~/css/mdb.min.css" rel="stylesheet">*@

        <link href="~/css/style.css" rel="stylesheet">

    </head>
    <body>
        @RenderBody()

        @RenderSection("scripts", required: false)

        <!-- SCRIPTS -->
        <!-- JQuery -->
        <script type="text/javascript" src="~/js/jquery-2.2.3.min.js"></script>

        <!-- Bootstrap tooltips -->
        <script type="text/javascript" src="~/js/tether.min.js"></script>

        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="~/js/bootstrap.min.js"></script>

        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="~/js/mdb.min.js"></script>
        
    </body>
</html>
