<body>
    
    <main>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.2s">
                    
                </div>
                <div class="col-lg-8">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </main>

</body>