/* YOUR CUSTOM STYLES */
.list-group-item.active {
    background-color: #2bbbad;
    border-color:#2bbbad
}

.list-group-item:not(.active) {
    color:#222;
}

.list-group-item:not(.active):hover {
    color:#666;
}

img[src*='base64']{
    width: 100% !important;
}
