
<!--<div class="card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Home</h2>
    </div>
</div>-->
<!-- page-file-upload.component.html -->
<div>
    <!--UPLOAD-->
    <form #f="ngForm" enctype="multipart/form-data" novalidate *ngIf="currentStatus === STATUS_INITIAL || currentStatus === STATUS_SAVING">
        <h1>Upload images</h1>

        <div *ngFor="let file of filesAdded">
            {{file.name}}<br />
            
            <div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': file.progress+'%'}">
                        {{file.progress}}%
                    </div>
                </div>
            </div>

        </div>

        <br />
        <div class="dropbox">
            <input type="file" multiple [name]="uploadFieldName" (change)="save()" [disabled]="currentStatus === STATUS_SAVING" #photos>
            <p *ngIf="currentStatus === STATUS_INITIAL">
                Drag your file(s) here to begin<br>
                or click to browse
            </p>
            <p *ngIf="currentStatus === STATUS_SAVING">
                Uploading {{ photos.files.length }} files...
            </p>
        </div>
    </form>
</div>