﻿/* page-file-upload.component.css */

.dropbox {
    outline: 2px dashed grey; /* the dash box */
    outline-offset: -10px;
    background: lightcyan;
    color: dimgray;
    padding: 10px 10px;
    min-height: 200px; /* minimum height */
    position: relative;
    cursor: pointer;
}

.dropbox:hover {
    background: lightblue; /* when mouse over to the drop zone, change color */
}

input[type="file"] {
    opacity: 0; /* invisible but it's there! */
    width: 100%;
    height: 200px;
    position: absolute;
    cursor: pointer;
}

.dropbox p {
    font-size: 1.2em;
    text-align: center;
    padding: 50px 0;
}
/*.percent {
    position: absolute; width: 300px; height: 14px; z-index: 1; text-align: center; font-size: 0.8em; color: white;
}*/

.uploaded {
    padding: 0;
    height: 14px;
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#66cc00), to(#4b9500));
    border-image: initial;
}

/*.mdl-tabs__tab-bar a {
    color: rgba(255, 255, 255, 0.8);
}

.mdl-tabs__tab-bar a.is-active {
    border-bottom: 2px solid #ff4081;
    color: #fff;
}

.mdl-tabs__tab-bar {
    display: inline;
}*/

/*header {
    background-color: #3f51b5;
    overflow: auto;
}

main {
    margin: 2em;
}

.card-wide {
    width: 100%;
    max-width: 500px;
}

.card-wide .mdl-card__title {
    background-color: #3f51b5;
    color: #fff;
}

.mdl-card {
    min-height: 0;
}

.mdl-card__supporting-text {
    color: rgba(0, 0, 0, 0.87);
}*/